{% include 'partials/head.liquid' %}

<header class="news-header">
    <a href="/nieuws" class="back-button">
        <img src="/assets/back.svg" alt="">
        <span>Terug</span>
    </a>

    <h1>Veld nieuws</h1>

</header>


<main class="news-detail">
    <img
        src="https://fdnd-agency.directus.app/assets/{{ article.image }}"
        alt="{{ article.title }}"
    >

    <p class="date">Geplaatst: {{ article.date | date: "%d-%m-%Y" }}</p>
    <h2>{{ article.title }}</h2>
    <p>{{ article.body }}</p>    

</main>

{% include 'partials/foot.liquid' %}